.header-container {
  position: relative;
  height: 8vh;
  background-color: #fff;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  .header-head {
    font-size: 2.5vh;
    font-weight: 500;
    color: rgb(30, 10, 60);
    align-items: center;
  }
  .btn-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1vh;
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    border: 0.3vh solid dodgerblue;
    background-color: #fff;
    &:hover {
      background-color: #eeedf2;
    }
  }
}
